.homepage {
    color:rgb(0, 255, 255) !important;
}

main {
    margin: 20px 40px;
}

.input-group {
    max-width: 80%;
    margin: 100px 10%;
    align-items: center;
}
.input-group button {
    background-color: rgb(18, 27, 34);
    color: rgb(249, 251, 250);
    border: 1px solid rgb(154, 156, 158);
}
.input-group input {
    background-color: rgb(18, 27, 34);
    color: rgb(249, 251, 250);
    border: 1px solid rgb(154, 156, 158);
}
.input-group input::placeholder {
    color: rgb(249, 251, 250);
    opacity: 70%;
}
.input-group input:focus {
    background-color: rgb(18, 27, 34);
    color: rgb(249, 251, 250);
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    padding-top: 10px;
    color: rgb(249, 251, 250) !important;
}

.card {
    width: 100%;
    max-height: 160px;
    max-width: 1200px;
    margin-top: 30px;
    background-color: rgb(18, 27, 34) !important;
    color: rgb(249, 251, 250) !important;
}
.card p {
    margin-bottom: 8px;
}
.card iframe {
    border-radius: 4px;
    height: 160px;
    width: 100%;
}